.navbar-dark .navbar-nav .nav-link {
    color: #f8f9fa;
}

.username{
    color:#76d476;
    font-size: 14px;
}

body {
    font-family: 'Roboto', sans-serif;  
}
.nobull {
    list-style-type: none;
}

.pointer{
    cursor: pointer;
}

.m-0{
    list-style-type: none;
}
.box-shadow {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fcfcfc;
    -webkit-box-shadow: -21px 47px 41px -25px rgba(33,14,33,0.41);
    -moz-box-shadow: -21px 47px 41px -25px rgba(33,14,33,0.41);
    box-shadow: -21px 47px 41px -25px rgba(33,14,33,0.41);
    border-radius:15px;
}

.cart {
    position: sticky;
    top: 83%;
    right: 5%;
    z-index: 1;
    border-radius: 121px 121px 121px 121px;
    -moz-border-radius: 121px 121px 121px 121px;
    -webkit-border-radius: 121px 121px 121px 121px;
    border: 0px none #000000;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(11,9,121,0.8670021657193645) 42%, rgba(0,212,255,1) 100%);
    opacity:0.9;
} 

.cart:hover {
    opacity:1;
    transform: scale(1.2, 1.2);
}

.cart-count {
    position: absolute;
    top: -6px;
    right: -7px;
    height: 28px;
    width: 28px;
    font-size: 1.1333em;
    padding-top:1px;
    color: white;
    background:red;
    font-weight: 700;
    border-radius: 80%;
    transition: -webkit-transform .2s .5s;
    transition: transform .2s .5s;
    transition: transform .2s .5s,-webkit-transform .2s .5s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.jumbo-image {
    z-index: -1;
    background-image: url("https://thumbs.dreamstime.com/b/healthy-food-background-studio-photo-different-fruits-vegetables-old-wooden-table-high-resolution-product-68278471.jpg");
    border-radius:0px;
    background-size: contain;
    
    
}

/* img link: https://thumbs.dreamstime.com/b/healthy-food-background-studio-photo-different-fruits-vegetables-old-wooden-table-high-resolution-product-68278471.jpg */
